[Unit]
Description=ARK Survival Ascended Dedicated Server
After=network.target

[Service]
User=gameserver
WorkingDirectory=/home/gameserver/servers/arkasa
ExecStart=/home/gameserver/servers/arkasa/ShooterGame/Binaries/Linux/ShooterGameServer \
    "TheIsland_WP?SessionName=Saguenay_Survie?MaxPlayers=10?listen" \
    -Port=7777 -QueryPort=27015 -log
Restart=always

[Install]
WantedBy=multi-user.target
