ARK_USER=ark
ARK_HOME=/opt/ark
ARK_APP_ID=2430930

ARK_PORT=7777
ARK_QUERY_PORT=27015
ARK_RCON_PORT=27020
ARK_RCON_PASSWORD=ChangeMe

ARK_BACKUP_DIR=/opt/ark-backups

STEAMCMD_DIR=/opt/steamcmd
STEAMCMD_BIN=/opt/steamcmd/steamcmd.sh
