[Unit]
Description=ARK: Survival Ascended Dedicated Server
After=network.target

[Service]
Type=simple
User=steam
WorkingDirectory=/opt/ark
ExecStart=/opt/ark/start_ark.sh
Restart=on-failure
RestartSec=10
LimitNOFILE=100000

[Install]
WantedBy=multi-user.target