[Unit]
Description=FS25 Dedicated Server
After=network.target

[Service]
User=gameserver
WorkingDirectory=/home/gameserver/servers/FS25
ExecStart=/home/gameserver/servers/fs25/dedicatedServer
Restart=always

[Install]
WantedBy=multi-user.target