[Unit]
Decription=ARK ASA Dedicated Server
After=network.target

[Service]
User=ark
WorkingDirectory=/opt/ark
ExecStart=/opt/ark/ShooterGame/Binaries/Linux/ShooterGameServer TheIsland?listen?SessionName=MyServer?RCONEnabled=True?RCONPort=27020?Port=7777?QueryPort=27015 -server -log
Restart=on-failure

[Install]
WantedBy=multi-user.target