[Unit]
Description=Palworld Dedicated Server
After=network.target

[Service]
Type=simple
User=patrick
WorkingDirectory=/servers/palworld
ExecStart=/servers/palworld/PalServer.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target